@import '../../styles/global.scss';

@keyframes loadinganim {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .wrapper{
    background: $black;
    min-height: 300px;
    height: 100vh;
    color: $lightRed;
    text-align: center;
    display: table;
    width: 100%;

    .loading{
      display: table-cell;
      width: 100%;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 3px;
      vertical-align: middle;
      font-family: helvetica, sans-serif;

      .bulletouter{
        animation: loadinganim 1s infinite;
        animation-timing-function: linear;
        animation-direction: reverse;
        width: 50px;
        height: 50px;
        background: $lightRed;
        border-radius: 50%;
        margin: 0 auto;
        .bulletinner{
          position: relative;
          left: -5px;
          width: 45px;
          height: 45px;
          background: $black;
          border-radius: 50%;
          margin: 0 auto;
        }
        .mask{
          position: relative;
          left: -5px;
          top: -15px;
          width: 50px;
          height: 25px;
          background: $black;
          transform: rotate(45deg);
        }
        .dot{
          position: relative;
          left: 33px;
          top: -32px;
          width: 8px;
          height: 8px;
          background: $lightRed;
          border-radius: 50%;
        }
      }
    }
  }
