@import '../../styles/global.scss';

.arrow {
    border: 2px solid rgba($white, 0.8);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease .2s;
    z-index: 10;

    & > i {
        color: rgba($white, 0.8);
        font-size: 1.2rem;
        margin-top: 1px;
        transition: all ease .2s;
    }

    &:hover {
        border-color: $white;

        & > i {
            color: $white;
        }
    }
}

