$lightRed: rgb(252, 48, 45);
// $lightRed: #FE615F;
$green: #9FEC3C;
$gray: #545864;
// $black: #1A191F;
$black: #1A191F;
$lightBlack: #1E1F1F;
$pink: #FF2B60;
$lightPink: #FF5F5F;
$white: #ffffff;
$lightGray: #707070;
$greyish: #25242A;

$synopsisColor: #BBBABF;
$metaDataColor: #5A595E;
$slideMoreInfoBG: #141318;
$metaMenu: #8E898D;
