@import '../../styles/global.scss';

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    height: 40px;
    z-index: 200;
    transition: background-color .4s ease-out 0s;

    @include desktop {
        height: 68px;
    }

    @include mobile-all {
        position: absolute;
    }
}

.addColorToHeader {
    background-color: $black;
}

.headerMenuOpen {
    height: 100%;
    opacity: 1;
}

.headerBrowes {
    margin-left: 30px;
}

.leftSide {
    align-items: center;
    display: flex;
    z-index: 1;
}

.rightSide {
    align-items: center;
    display: flex;
    z-index: 1;
    & > * {
        margin-left: 25px;
    }

    & > :last-child {
        margin-left: 40px;
    }

    @include smartphones {
        & > :first-child {
            display: none;
        }

        & > * {
            margin-left: 0;
        }

        & > :last-child {
            margin-left: 0;
        }
    }
}
