@import '../../styles/global.scss';

.arrow {
    background-color: $greyish;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease .2s;
    margin-left: 15px;

    & > i {
        color: rgba($white, 0.8);
        font-size: 1.1rem;
        margin-top: 1px;
        transition: all ease .2s;
    }

    &:hover {
        border-color: $white;

        & > i {
            color: $white;
        }
    }
}

